<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Signups</title>
</head>
<body>
    <h1>Signups</h1>
    <table>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <tr data-th-each="signup : ${signups}">
            <td data-th-text="${signup.id}"></td>
            <td data-th-text="${signup.name}"></td>
            <td data-th-utext="${signup.address}"></td>
        </tr>
    </table>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>